{% extends 'admin/baseadmin.html.twig' %}
{% block tiltle %} {% endblock %}

{% block corp%}
<div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row" style="display: flex;align-items: center;justify-content: center">
                    <div class="col-md-6">
                        <div class="card-box">
                            <h4 class="m-t-0 m-b-30 header-title">Ajouter category</h4>
                            {{form_start(f)}}

                            <div class="form-group">
                                <label for="type">nom</label>
                                {{ form_widget(f.nom, {'attr':{'class':'form-control'}})}}
                                <label {{ form_errors(f.nom)}}</label>
                            </div>

                             
                            

                           

                            {{ form_end(f) }}

                        </div>
                        
                    </div>



                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer%}
{% endblock %}


