{% extends 'user/base.html.twig ' %}
{% block corp %}

    <table>
                                    <thead>
                                        <tr>
                                            <th>text</th>
                                            
                                           
                                            
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                                                    {% for c in Commentaire %}
                                    <tr>
                                    <td>{{ c.text }}</td>
                                    
                                   

            <tr>
                                           
                                           
                                            
                                        
                                         <button type="button" class="fa fa-trash" data-toggle="modal" data-target="#exampleModal"> </button>
                                                                                                
                                                                                               

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Vous voulez vraiment annuler votre Commentaire? 
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <a href="{{ path('suppressionC',{'id':c.id}) }}">supprimer</a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                            <!-- Modal -->
                                            <div class="modal fade" id="{{ c.id }}exampleModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            ...
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            
            </tr>
            <td> <a href="{{ path('modifierC',{'idpost':c.idpost,'id':c.id}) }}">modifier</a></td>
             {% endfor %}

                                   </tbody>
                                </table>

{% endblock %}
{% block footer%}
{% endblock %}