{% extends 'user/base.html.twig ' %}







{% block corp%}


<div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer une publication</h5>
       
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            
             <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         type
        </a>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{path('participationpublic')}}" >participation public</a>
          <a class="dropdown-item" href="{{path('participationprive')}}" >participation privee</a>
         </div>
        </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
             <div class="form-group">
            <label for="message-text" class="col-form-label">image</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          
             <div class="form-group">
            <label for="message-text" class="col-form-label">localisation</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">poster</button>
      </div>
    </div>



{% endblock %}

